@font-face {
font-family: 'Avenir';
    
    src:    url('https://nomail.com.ua/files/eot/e5dd868df4bbe8841a212dc8d1efb58f.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e5dd868df4bbe8841a212dc8d1efb58f.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e5dd868df4bbe8841a212dc8d1efb58f.woff2') format('woff2');
}

@font-face { font-family: 'Avenir-Light';  src: local('Avenir-Light'), url('https://nomail.com.ua/files/woff/e5dd868df4bbe8841a212dc8d1efb58f.woff') format('woff'); }
.auditoies{
    display: none;
    flex-wrap: wrap;
    position: relative; 
    font-family: 'Avenir', sans-serif ;
    height: 60%;
}
.classtype__button{
    border: none;
    outline: none;
    background: none;
}
.owl-carousel{
    margin-left: 130px;
    max-width: 1600px;
}
.lecture-class{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/lec-slider.jpg);
    color: white;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    margin-bottom:20px;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.lecture__num{
    margin-top: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    align-self: center;
}
.time{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
}
.lecture__cump{
    
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
}
.type__reserv-button{
    line-height: 40px;
    border-radius: 20px;
    background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
    font-size: 20px;
    font-weight: 500;
    color: white;
    opacity: 1;
    transition: 0.3s;
}
.type__reserv-button:hover{
     opacity: 0.6;
     cursor: pointer;
}
.back-button__lecture{
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: -5%;
    
    
}
.back-button:hover{
    color: #EE82EE;
    cursor: pointer;
}
.lecture-type{
    font-size: 25px;
    font-weight: 600;
    color: #EE82EE;
    margin-left: 10%;
    
}
.slider__nav--left{
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../img/back.png')no-repeat center;
    margin-right: 15px;
    cursor: pointer;
    
}
.slider__nav--right{
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../img/next.png')no-repeat center;
    cursor: pointer;
}
.slider__nav--left span, .slider__nav--right span{
    display: none;
}
.back-button__lecture:hover{
    color: #EE82EE;
    cursor: pointer;
}