@font-face {
font-family: 'Avenir';
    
    src:    url('https://nomail.com.ua/files/eot/e5dd868df4bbe8841a212dc8d1efb58f.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e5dd868df4bbe8841a212dc8d1efb58f.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e5dd868df4bbe8841a212dc8d1efb58f.woff2') format('woff2');
}

@font-face { font-family: 'Avenir-Light';  src: local('Avenir-Light'), url('https://nomail.com.ua/files/woff/e5dd868df4bbe8841a212dc8d1efb58f.woff') format('woff'); }
.classtype{
    display: none;
    flex-wrap: wrap;
    position: relative; 
    font-family: 'Avenir', sans-serif ;
    height: 60%;
    margin-top: 130px;
}
.types{
    display: flex;
    margin-left: 30px;
}
.classtype__button{
    border: none;
    outline: none;
    background: none;
}
.lecture{
    position: absolute;
    background: url("../img/lec.png") no-repeat;
    background-size: 450px;
}
.practice{
    background: url("../img/prac.png") no-repeat;
    background-size: 450px;
}
.type{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 120px;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.type__title{
    margin-top: 300px;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    align-self: center;
}
.time{
    display: inline-block;
    margin-right: 150px;
    margin-bottom: 30px;
}
.type__time{
    
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
}
.type__clock{
    object-fit: contain;
    vertical-align: middle;
}
.type__reserv-button{
    line-height: 40px;
    border-radius: 20px;
    background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    transition: 0.3s;
}
.type__reserv-button:hover{
     opacity: 0.6;
     cursor: pointer;
}
.back-button{
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: -5%;
    
    
}
.back-button:hover{
    color: #EE82EE;
    cursor: pointer;
}
.service{
    font-size: 25px;
    font-weight: 600;
    color: #EE82EE;
    margin-left: 10%;
    
}