.confirm{
    display: none;
}
.confirm__back-button{
    margin-top: 45px;
    margin-left: 21%;
}
.input-fields{
    margin-left: 24%;
    margin-top: -70px;
    font-size: 18px;
   
}
.input{
    margin-left: 20px;
    margin-top: 70px;
    width: 320px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}
.input:focus{
    border-bottom-color: #EE82EE;
}
.data{
    display: grid;
    float: right;
    margin-right: 27%;
    margin-top: -245px;
}
.confirm__type{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.date{
    margin-top: 12px;
}
.number{
    margin-top: -25px;
}
.time{
    margin-top: 8px;
}
.date-value, .time-value, .number-value{
    font-weight: 700;
}
.date-value{
    margin-left: 120px;
}
.time-value{
    margin-left: 120px;
}
.number-value{
    margin-left: 140px;
}
.data-item{
    font-size: 16px;
    font-weight: 300;
}
.email-field{
    margin-top: 55px;
}
.phone-field{
    margin-top: 60px;
}
.confirm__btn{
    margin-top: 50px;
    margin-left: 30px;
    border: none;
    outline: none;
    margin-bottom: 530px;
    background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
    border-radius: 300px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    padding: 25px 80px;
}
.confirm__btn:hover{
     opacity: 0.6;
     cursor: pointer;
}