.main{
    font-family: 'Nunito Sans', sans-serif;
    height: 40%;
    margin-top: 70px;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #8B00FF;
}
.calendar{
    margin-left: 10%;
}
.weekday{
    display: inline-block;
    width: 1%;
    margin-bottom: 10px;
}
.day{
    color: #ff707f;
    font-weight: 600;
    padding-left: 8px;
}
.weekend{
    display:block;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
}
.time{
    margin-top: 20px;
}
.line{
    margin-left: 20px;
    margin-top: -30px;
}
.none-line{
    margin-left: 20px;
    margin-top: 60px;
}
.contacts{
    display: block;
    margin-top: -125px;
    margin-left: 60%;
    
}
.contacts__img{
    padding-right: 5px;
    vertical-align: middle;
}
.contacts__link:hover{
    font-weight: 700;
    text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
    border-color: darkmagenta;
}

.more{
    text-align: center;
    margin-top: 250px;
    padding-bottom: 20px;
}
.details{
    font-size: 14px;
}
.details:hover{
    font-weight: 700;
    text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
    border-color: darkmagenta;
}
