body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
.header{
    position: relative;
    width: 100%;
    height: 844px;
    max-height: 40%;
    background: #eeeeee url("../img/logan.png") center no-repeat;
    
    }
    .header__menu-button{
        margin-top: 120px;
        margin-left: 120px;
        border: none;
        outline: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
    }
    .img-t{
        display: none;
    }
    .main-text{
        text-align: center;
        margin-top: 30px;
        margin-bottom: auto;
        font-size: 100px;
        line-height: 22px;
        color: #8B00FF;
        
    }
    .header__button{
        position: absolute;
        text-align: center;
        border: none;
        outline: none;
        margin: auto;
        background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
        border-radius: 300px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        line-height: 16px;
        padding: 25px 80px;
        margin-top: 400px;
        margin-left: 820px;
        transition: all 0.5s;
    }
    .header__button:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        cursor: pointer;
        
    }