body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
.header{
    display: grid;
    width: 100%;
    height: 844px;
    max-height: 40%;
    background: #eeeeee url("../img/logan.png") center no-repeat;
    
}
    .header__menu-button{
        margin-top: 120px;
        margin-left: 120px;
        border: none;
        outline: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
    }
    .img-t{
        display: none;
    }
    .main-text{
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width:700px;
        margin-top: -4%;
        font-size: 100px;
        line-height: 22px;
        color: #8B00FF;
        
    }
    .hamburger-menu{
        display: none;
        position:absolute;
        width: 350px;
        height: 108%;
        padding-right: 30px;
        border-radius: 0 60px 60px 0;
        background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
        color: white;
        font-size: 40px;
    }
    .closemenu-btn{
        margin-left: 60%;
        margin-top: 70px;
        border: none;
        outline: none;
        background: transparent;
        transition: all 0.5s;
    }
    .closemenu-btn:hover{
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .hamburger-menu__list{
        padding-top: 100px;
    }
    .item-a{
        color: white;
    }
    .item-a:hover{
        font-weight: 600;
    }
    .humburger-menu__items{
        
        padding-top: 70px;
    }
    .header__button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        border: none;
        outline: none;
        height: 80px;
        width: 300px;
        background: linear-gradient(90deg, #EE82EE 0%, #8B00FF 100%);
        border-radius: 300px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        line-height: 16px;
        padding: 25px 80px;
        transition: all 0.5s;
    }
    .header__button:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        cursor: pointer;
        
    }